<div class="home">
  <app-card *ngIf="!isEmptyFilters">
    <div class="filters">
      <div class="filters__options">
        <ng-container *ngFor="let category of categories">
          <app-filter-option
            *ngFor="let value of filters[category]"
            [value]="value"
            (remove)="removeFilter({ category, value })"
          ></app-filter-option>
        </ng-container>
      </div>
      <a class="filters__clear" (click)="clearFilters()">Clear</a>
    </div>
  </app-card>
  <ng-container *ngIf="!!filteredJobs.length">
    <ng-container *ngFor="let job of filteredJobs; trackBy: jobTrackBy">
      <app-job [job]="job" (filter)="addFilter($event)"></app-job>
    </ng-container>
  </ng-container>
</div>
